<div id="idioma" class="row estilo1">
    <h2 class="titulo">Idiomas</h2>
    <div class="col-md-12 borcol" align='center'>
      <br>
      <div class="row textoBody centrarItem">
        <div class="row">
          <h5>Ingles</h5>
        </div>
        <hr>
        <div class="row centrarItem">
          <div class="col-md-3">
            <h5>Listening</h5>
          </div>
          <div class="col-md-9" style="width: auto;">
            <h5 class="">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </h5>
          </div>
        </div>
        <br>
        <div class="row centrarItem">
          <div class="col-md-3">
            <h5>Reading</h5>
          </div>
          <div class="col-md-9" style="width: auto;">
            <h5>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </h5>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <a href="https://www.efset.org/cert/PWW1Le">Certificado</a>
        </div>
      </div>
    </div>
  </div>