<div id="hard" class="row estilo1">
    <h2 class="titulo">Hard SKill</h2>
    <div class="col-md-12 borcol">
      <div class="row  centrarItem">
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1">C#</h3>
          </div>
          <div class="row">
            <canvas id="myChart"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Avanzado</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1">JAVA</h3>
          </div>
          <div class="row">
            <canvas id="myChart1"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Avanzado</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1">SQL</h3>
          </div>
          <div class="row">
            <canvas id="myChart2"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Avanzado</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> HTML </h3>
          </div>
          <div class="row">
            <canvas id="myChart3"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Avanzado</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> CSS </h3>
          </div>
          <div class="row">
            <canvas id="myChart4"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Avanzado</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> Bootstrap </h3>
          </div>
          <div class="row">
            <canvas id="myChart5"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Avanzado</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> JAVASCRIPT </h3>
          </div>
          <div class="row">
            <canvas id="myChart6"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Intermedio</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> NODE JS </h3>
          </div>
          <div class="row">
            <canvas id="myChart7"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Intermedio</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> SYMFONY </h3>
          </div>
          <div class="row">
            <canvas id="myChart8"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Intermedio</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> PHP </h3>
          </div>
          <div class="row">
            <canvas id="myChart9"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Intermedio</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> GIT </h3>
          </div>
          <div class="row">
            <canvas id="myChart10"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Intermedio</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> BASH </h3>
          </div>
          <div class="row">
            <canvas id="myChart11"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Intermedio</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> C++ </h3>
          </div>
          <div class="row">
            <canvas id="myChart12"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Intermedio</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> PYTHON </h3>
          </div>
          <div class="row">
            <canvas id="myChart13"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Basico</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> PHASER </h3>
          </div>
          <div class="row">
            <canvas id="myChart14"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Basico</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> Angular </h3>
          </div>
          <div class="row">
            <canvas id="myChart15"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Intermedio</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> .NET </h3>
          </div>
          <div class="row">
            <canvas id="myChart16"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Avanzado</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> Unity </h3>
          </div>
          <div class="row">
            <canvas id="myChart17"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Intermedio</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> Processing </h3>
          </div>
          <div class="row">
            <canvas id="myChart18"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Intermedio</h5>
          </div>
        </div>
        <div class="col-md-3 charts divColor">
          <div class="row">
            <h3 class="texto1"> Android </h3>
          </div>
          <div class="row">
            <canvas id="myChart19"></canvas>
          </div>
          <div class="row">
            <h5 class="texto2">Basico</h5>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="./chartScript.js"></script>