  <!------------------------------HEADER------------------------------>
  <app-header></app-header>
  <!------------------------------DIV CENTRAL------------------------------>
  <div class="container">
    <div class="row">
      <aside class="col-md-3  borcol">
        <app-sidebar></app-sidebar>
        <hr>
        <app-idiomas></app-idiomas>
      </aside>
      <section class="col-md-9 borcol">
        <app-estudios></app-estudios>
        <hr>
        <app-hardskills></app-hardskills>
        <hr>
        <app-softskills></app-softskills>
        <hr>
        <app-proyectos></app-proyectos>
      </section>
    </div>
  </div>
  <!------------------------------FOOTER------------------------------>
  <footer>
    2022
  </footer>
  <!------------------------------SCRIPTS------------------------------>
 