<div id="sidebar" class="row texto2 estilo1 divColor">
  <h2 class="titulo">Menu</h2>
  <br>
  <div class="row centrarItem">
    <div class="row text-center">
      <a href="#estudios" class="nav-link active" [routerLink]="['/portfolio']" fragment="estudios"
      aria-current="page">
        <h5 class="">
          <i class="fas fa-graduation-cap"></i>
          Estudios
        </h5>
      </a>
    </div>
    <div class="row text-center">
      <a [routerLink]="['/portfolio']" fragment="hard"  class="nav-link link-dark">
        <h5>
          <i class="fas fa-code"></i>
          HardSkill
        </h5>
      </a>
    </div>
    <div class="row text-center">
      <a href="#soft" [routerLink]="['/portfolio']" fragment="soft" class="nav-link link-dark">
        <h5>
          <i class="far fa-comment"></i>
          SoftSkill
        </h5>
      </a>
    </div>
    <div class="row text-center">
      <a href="#proyectos" [routerLink]="['/portfolio']" fragment="proyectos" class="nav-link link-dark">
        <h5>
          <i class="	fas fa-laptop"></i>
          Proyectos
        </h5>
      </a>
    </div>
  </div>



</div>