<div id="soft" class="row estilo1 ">
      <h2 class="titulo">Soft SKills </h2>
      <div *ngIf="isAdmin" class="centrarItem">
        <button class="btn btnLogin" [routerLink]="['/nuevo']" routerLinkActive="router-link-active">Agregar</button>
      </div>
  <div class="col-md-12">
    <br>
    <div class="row textoBody centrarItem">
      <div class="divLista" *ngIf="myData">
        <ul id="lista">
          <li *ngFor="let data of myData">
            <div class="row">
              <div class="col-md-8">
                {{data.nombre}}
              </div>
              <div *ngIf="isAdmin" class="col-md-4 modButtons">
                <button class="btn btn-outline-dark" [routerLink]="['/modificar', data.id]">
                  <i class="far fa-edit"></i></button>
                <button class="btn btn-outline-danger " style="margin-left: 3px;"
                (click)="borrar(data.id)"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</div>