<div id="soft" class="row estilo1">
  <h2 class="titulo">Soft SKill</h2>
  <div class="col-md-12 borcol">
    <br>
    <div class="row textoBody centrarItem">
      <div class="divLista">
        <ul id="lista">
          <li *ngFor="let data of myData.soft">{{data.desc}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--  <li>Trabajo en Equipo</li>
            <li>Capacidad de Adaptacion</li>
            <li>Proactivo</li>
            <li>Responsable</li>
            <li>Organizado</li>
            <li>Autodidacta</li>
            <li>Creativo</li>
            <li>Resolucion de Problemas</li>
          -->